{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content %}
{% for item in source_list %}
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-0 p-o">
    <div class="main_content floatleft">
        <div class="left_coloum floatleft">
            <div class="single_left_coloum_wrapper">
                <h2 class="title">{{item.author}}</h2>
                <div class="single_left_coloum floatleft"> <img src="{{item.urlToImage}}" alt="" />
                    <h3>{{ item.description}}</h3>
                    <p>{{ item.publishedAt|truncate(10)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}
{% endblock %}