{% macro displaySourceList(source_list) %}

<div class="container">
    <div class="row small-up-3 medium-up-4 large-up-5">
        {% for item in source_list %}
        
        <div class="col-md-6">

            <p><span><i class="fi-torso"> {{item.title}} &nbsp;&nbsp;</i></span></p>
            <p><span><i class="fi-torso"> By {{item.author}} &nbsp;&nbsp;</i></span></p>
            <p><span><i class="fi-descriptions"> {{item.description|truncate(60)}} &nbsp;&nbsp;</i></span></p>
            <p><a href="#">{{item.url}}</a></p>
            <p><span><i class="fi-date"> {{ item.publishedAt|truncate(20)}}&nbsp;&nbsp;</i></span></p>
        </div>
        <div class="col-md-6">


            <p><img src="{{item.urlToImage}}" alt=""></p>
            
        </div>
    
        {%endfor %}
        {%endmacro%}
    </div>
    
</div>