{% macro displaySourceList(source_list) %}

<div class="container">
    
    {% for item in source_list %}

   <div class="col-md-3">
       <div class="card">
           <div class="card-body">
               <div class="card-title" id="head">
                   <p style="font-size: 200%;">{{item.name}}</p>
               </div>
               <div class="text">
                   <p>{{item.description}}</p>
                   <br>
                   <a href="/source/{{item.id}}"> <button class="button"> <span>News</span></button></a>
               </div>
           </div>
       </div>
   </div>

   {% endfor %}
    {% endmacro %}
</div>


 